<config><regrex>.+\..+</regrex><path>C:\Users\cnmbx\Desktop\xaf_all19112020\all</path><encode>UTF-8</encode><maxsize>128.0</maxsize><text></text><tag><item><target>Controller</target><constraint><type>not1</type><match>name=&quot;Protag_Bone_Spine_0</match></constraint><constraint><type>1</type><match>Transform \ Position&quot;</match></constraint><constraint><type>2</type><match>Transform \ Scale&quot;</match></constraint><value></value></item></tag><filename></filename><array><head></head><head-seg></head-seg><tail-seg></tail-seg><join><br /></join><tail></tail></array></config>