<config><regrex>.+.txt</regrex><path>C:\Users\cnmbx\Desktop\Text_Replacement\path</path><encode>UTF-8</encode><maxsize>4.0</maxsize><text><item><from>[0-9]+.</from><to></to><mode>1</mode></item></text><tag><item><target>aaa</target><constraint><type>1</type><match>nnn</match></constraint><constraint><type>not3</type><match>nnn</match></constraint><constraint><type>3</type><match>nn</match></constraint><value></value></item></tag><filename></filename></config>