<config><regu>.+.txt</regu><path>C:\Users\cnmbx\Desktop\Text_Replacement\path</path><text><item><from>*</from><to></to><mode>3</mode></item><item><from>.*\*/$</from><to></to><mode>2</mode></item><item><from>^\t*//.*</from><to></to><mode>2</mode></item></text><tag></tag><filename></filename></config>